.teaser {
    background-image: url('./teaser-image2.jpg');
    padding: 100px 0;
    background-size: cover;
    background-position: center;
}

.teaser-heading {
    color: #fff;
    text-align: center;
    font-size: 20vw;
}

.description {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons {
    text-align: center;
}

.button {
    margin: 20px;
}

.button > a {
    color: white;
}

.button > a:hover {
    color: gray;
}
